{:deps   true
 :nrepl  {:port 3333}
 :builds {:devcards {:target     :browser
                     :output-dir "resources/public/js"
                     :asset-path "/js"
                     :modules    {:main {:entries [web.devcards.start-ui]}}
                     :js-options {:entry-keys ["module" "browser" "main"]}
                     :compiler-options
                                 {:infer-externs    :auto
                                  :closure-warnings {:global-this :off}
                                  :closure-defines  {"re_frame.trace.trace_enabled_QMARK_"        true
                                                     "day8.re_frame.tracing.trace_enabled_QMARK_" true}}
                     :devtools   {:infer-externs    :auto
                                  :http-port        3001
                                  :http-root        "resources/public"
                                  :http-handler     shadow.http.push-state/handle
                                  :push-state/index "index.html"
                                  :preloads   [devtools.preload day8.re-frame-10x.preload]
                                  :after-load       web.devcards.start-ui/init}
                     :dev        {:compiler-options {:devcards true}}
                     :release    {:compiler-options {:devcards true
                                                     :infer-externs :auto
                                                     :optimizations :advanced}}}
          :test     {:target    :karma
                     :output-to "target/ci.js"
                     :autorun   true}}}
